<header>
    <div class="menu_block">
        <div class="container_12">
            <div class="grid_12">
                [socials][search]
                <nav>
                    <ul class="sf-menu">
                        <li class="current">
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">Продукция</a>
                        </li>
                        <li>
                            <a href="#">Свой шоколад</a>
                        </li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>